body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: 'Bebas Neue';
  text-align: center;
}

#station {
  font-size: 32px;
  margin-top: 20px;
}

#cover {
  width: 250px;
  height: 250px;
  margin: 20px auto;
  border-radius: 18px; /* cuadrada con esquinas suaves */
  display: block;
}

#songtitle {
  font-size: 28px;
  margin: 10px 0;
}

#playbtn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #FF6767;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#playbtn:hover {
  background: #ff3c3c;
}
